@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;

.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  max-height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* Fondo con foto centrada y recortada */
  background-image: url("/banner.jpg");
  background-size: cover;
  background-position: center;
}
.title {
  font-family: var(--font-heading);
  font-size: 2rem;
  margin: -9rem 0 0.5rem;
  color: whitesmoke;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    0 0 6px rgba(0, 0, 0, 0.6);
    @media (min-width: 1024px) {
      margin-top: -5rem; 
  font-size: 4rem;
    }
}

.cta {
  @include btn-base;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  text-decoration: none;
  font-weight: 900;
  .menuIcon{
  background-color: whitesmoke;
  border-radius: 50%;
padding:3px; margin: 3px}
  ;
}
