

.floatingWhatsapp {
  position: relative;

  .whatsappLink {
    margin: 0;
    padding: 0;

    .whatsappButton {
      &:after {
        content: '';
        border-color: inherit;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        box-shadow: 0 0 0 0 rgba(52, 165, 94, 0);
        animation: _pulse 1.2s infinite;
      }

      @media (min-width: $tablet) {
        bottom: 2rem;
      }
      & {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 8rem;
        right: 1rem;
        cursor: pointer;
        background-color: #25d366;
        border-radius: 50%;
        user-select: none;
        box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 15%);
        z-index: 9998;
      }
      svg {
        fill: #fff;
        padding: 0.5rem;
        width: 55px;
        height: 55px;
      }
    }
  }

}
